<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Scanning Barcode </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button color="primary" expand="block" (click)="scanningBarcode()">
      Scan Barcode
    </ion-button>
  </ion-card>

  <ion-card>
    <div *ngIf="scannedBarCode">
      <ion-item>
        Value: <strong>{{ scannedBarCode["text"] }}</strong>
      </ion-item>
      <ion-item>
        Format: <strong>{{ scannedBarCode["format"] }}</strong>
      </ion-item>
    </div>
  </ion-card>
</ion-content>
